<% if @model == "user" %>
 <div class="row">
   <div class="col-xs-6 col-xs-offset-3" style="margin-left: 20%;">
   <h2>検索結果</h2>
 <ul>
 <% @datas.each do |datas| %>
   <li><%=  datas.name %></li>
 <% end %>
   </ul>
  </div>
 </div>

<% elsif @model == "book"%>
 <div class="row">
   <div class="col-xs-6 col-xs-offset-3" style="margin-left: 20%;">
   <h2>検索結果</h2>
    <ul>
     <% @datas.each do |datas| %>
      <li><%=  datas.title %></li>
　   <% end %>
    </ul>
   </div>
 </div>
<% end %>
