 <% chats.each do |chat| %> <!-- eachメソッドによって、tbodyタグは@chatsの中身の数だけ生成される-->
                <% if chat.user_id == current_user.id %>
                <div class="destroy_test">
                <tbody>
                  <tr>
                    <th>
                      <p style="text-align: left;"><%= chat.message %></p>
                      
                      <!-- 引数にchatやchat.idを渡すとURLが、(/chats.10)となってしまう。-->
                      <!-- そもそも、ローカル変数chatsはコントローラ内で色々なテーブルを参照した末に代入されているから、いつものようにはいかない気がする-->
                      <!-- ルーティングエラーのため、何かルーティングを改善する必要があるのか不明。 -->
                       <%= link_to 'Destroy', chats_path(chat), method: :delete, remote: true %> <!-- class: "btn btn-sm btn-danger", -->
                      
                      
                    </th>
                    <th></th>
                  </tr>
                </tbody>
                <% else %>
                <tbody>
                  <tr>
                    <th></th>
                    <th>
                      <p style="text-align: right;"><%= chat.message %></p>
                    </th>
                  </tr>
                </tbody>
                </div>
                <% end %>
                <!-- この行に、create.js.erbで生成されるpタグが挿しこまれる -->
              <% end %>